
In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types.

Three files containing data on 2019 Airbnb listings are available:

**airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

The goal is to analyze this data to provide insights on private rooms to a real estate company.

In [72]:
# Import necessary packages
import pandas as pd
import numpy as np

In [73]:
# Loading files
prices = pd.read_csv('airbnb_price.csv')
rooms = pd.read_excel('airbnb_room_type.xlsx')
reviews = pd.read_csv('airbnb_last_review.tsv', sep='\t')

print(prices.head())
print(rooms.head())
print(reviews.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [74]:
# Merging the three DataFrames
df = prices.merge(rooms, on='listing_id').merge(reviews, on='listing_id')
print(df.head())
print(df.info())

   listing_id        price                nbhood_full  \
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

                                 description        room_type    host_name  \
0                      Skylit Midtown Castle  Entire home/apt     Jennifer
1            Cozy Entire Floor of Brownstone  Entire home/apt  LisaRoxanne
2  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt        Chris
3            Large Furnished Room Near B'way     private room     Shunichi
4         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt          Ben

    last_review
0   May 21 2019
1  July 05 2019
2  June 22 2019
3  June 24 2019
4  June 09 2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB
None

In [75]:
# Investigating columns
print(df['room_type'].unique())

['Entire home/apt' 'private room' 'Private room' 'entire home/apt'
 'PRIVATE ROOM' 'shared room' 'ENTIRE HOME/APT' 'Shared room'
 'SHARED ROOM']

In [76]:
# Cleaning desired columns
df['review_date'] = pd.to_datetime(df['last_review'], format='%B %d %Y')
df['room_type'] = df.room_type.str.lower()
df['cleaned_price'] = df.price.str.replace(" dollars", "").astype(float)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     25209 non-null  int64
 1   price          25209 non-null  object
 2   nbhood_full    25209 non-null  object
 3   description    25199 non-null  object
 4   room_type      25209 non-null  object
 5   host_name      25201 non-null  object
 6   last_review    25209 non-null  object
 7   review_date    25209 non-null  datetime64[ns]
 8   cleaned_price  25209 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 1.7+ MB
None

In [77]:
# What are the dates of the earliest and most recent reviews?
first_reviewed = df['review_date'].min()
last_reviewed = df['review_date'].max()

In [78]:
# How many of the listings are private rooms?
private_room_count = df[df['room_type'] == 'private room'].shape[0]

In [79]:
# What is the average listing price?
avg_price = df['cleaned_price'].mean().round(2)

In [80]:
# Combining the new variables into one DataFrame

review_dates = pd.DataFrame({
    'first_reviewed': [first_reviewed],
    'last_reviewed': [last_reviewed],
    'nb_private_rooms': [private_room_count],
    'avg_price': [avg_price]
})

print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78